
/* copy */
.follow-text {
    position: absolute;
    /* z-index: 100;
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d8ac26;
    border: 3px solid black; */
    display: none;
    text-shadow: 5px 4px 4px #1C1C1C;
}

.title-one {
    position: absolute;
    left: -450px;
    top: -150px;
    z-index: 100;
    font-family: Stencil Std;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
/* Copy */

.members {
    position: absolute;
    left: -450px;
    top: -100px;
    z-index: 100;
    font-family: Stencil Std;
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    font-stretch: ultra-condensed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    white-space: nowrap;
}

.intro {
    position: absolute;
    left: -450px;
    top: -40px;
    z-index: 100;
    font-family: Stencil Std;
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    font-stretch: ultra-condensed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    /* white-space: nowrap; */
}

.trianpic {
    position: absolute;
    left: 40px;
    top: -40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 220px;
}

.title-two {
    position: absolute;
    left: -450px;
    top: -150px;
    z-index: 100;
    font-family: Stencil Std;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}
.threelogo {
    position: absolute;
    left: -250px;
    top: -40px;
    padding: 5px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 220px;
}

.blenderlogo {
    position: absolute;
    left: -50px;
    top: -40px;
    padding: 5px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 220px;
}

.collaborator{
    position: absolute;
    white-space: nowrap;
    left: -100px;
    top: -130px;
    font-family: Stencil Std;
    color: white;
    font-weight: 150;
    font-size: 1.2rem;
    position: absolute;
    margin-left: 200px;
}
.box{
    left: -450px;
    top: -100px;
    position: absolute;
    width: 900px;
    height: 2px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.explain{
    top: -40px;
    font-family: Stencil Std;
    color: white;
    font-weight: 150;
    font-size: 1.2rem;
    position: absolute;
    margin-left: 80px;
    width: 400px;
    border: 1px solid;
    word-wrap: break-word; 
}

body {
    margin: 0 auto 80px;
    margin-top: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    /* overflow: hidden; */
}

.button {
    position: absolute;
    z-index: 100;
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}